extends layout
block stylesheet
	link(rel='stylesheet', href='/css/index.css')

block content
	//
		script
			window.fbAsyncInit = function() {
				FB.init({
					appId      : '1405183026445235',
					xfbml      : true,
					version    : 'v2.2',
					status		 : true
				});
				FB.getLoginStatus(function(response) {
					if (response.status != 'connected') {
						window.location.replace("https://aqueous-fortress-3332.herokuapp.com/login");
					}
				});
			};

			(function(d, s, id){
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) {return;}
				js = d.createElement(s); js.id = id;
				js.src = "//connect.facebook.net/en_US/sdk.js";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));

	nav
		h3.mood Calm:
		input.checkbox#acoustic(type='checkbox', name='acoustic', value='Acoustic')
		label(for='acoustic') Acoustic
		br
		input.checkbox#classical(type='checkbox', name='classical', value='Classical')
		label(for='classical') Classical


		h3.mood Normal:
		input.checkbox#alternative(type='checkbox', name='alternative', value='Alternative')
		label(for='alternative') Alternative
		br
		input.checkbox#jazz(type='checkbox', name='jazz', value='Jazz')
		label(for='jazz') Jazz
		br
		input.checkbox#pop(type='checkbox', name='pop', value='Pop')
		label(for='pop') Pop
		br
		input.checkbox#rap(type='checkbox', name='rap', value='Rap')
		label(for='rap') Rap
		br
		input.checkbox#rock(type='checkbox', name='rock', value='Rock')
		label(for='rock') Rock

		h3.mood Active:
		input.checkbox#dubstep(type='checkbox', name='dubstep', value='Dubstep')
		label(for='dubstep') Dubstep
		br
		input.checkbox#edm(type='checkbox', name='edm', value='EDM')
		label(for='edm') EDM
		br
		input.checkbox#heavy_rock(type='checkbox', name='heavy rock', value='Heavy rock')
		label(for='heavy_rock') Heavy rock
		br
		input.checkbox#house(type='checkbox', name='house', value='House')
		label(for='house') House
		br
		input.checkbox#metal(type='checkbox', name='metal', value='Metal')
		label(for='metal') Metal
	.container
		#content
			h1 Waver
			br
			h3 It looks like you're feeling ___
			//___ should be filled in with the mood
