doctype html
html
  head
    title= 'Waver'
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
    script(src='/js/bootstrap.min.js')
    block stylesheet
  body
    block content