doctype html
html
  head
    title= 'Waver'
    link(rel='stylesheet', href='../public/css/bootstrap.min.css')
    link(rel='stylesheet', href='../public/css/bootstrap-responsive.min.css')
    script(src='../static/js/bootstrap.min.js')
    block stylesheet
  body
    block content