nav {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	background: black;
	width: 10%;
	padding: 1%;
	color: #eee;
	font-weight: lighter;
	margin-top: -2%;
}

.mood {
	margin-bottom: -2%;
	margin-top: 20%;
}

.genre {
	font-size: 18px;
	margin-top: -1%;
}

input[type=checkbox].checkbox {
	position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

input[type=checkbox].checkbox + label {
	padding-left:20px;
	height:15px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size: 18px;
	vertical-align:middle;
	cursor:pointer;
	font-weight: lighter;
	color: #eee;
	margin-top: 6%;
}

input[type=checkbox].checkbox:checked + label {
	background-position: 0 -15px;
}

label {
	background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_35479798fe0298fb292efc51fe958c8a.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	display: inline;
}

.container {
	margin-left: 18%;
	margin-top: 3%;
	width: 73%;
	background-color: #84bd00;
	padding: 2%;
	border-radius: 15px;
}

#content {
	text-align: center;
}

h1 {
	font-size: 72px;
}