extends layout
block stylesheet
	link(rel='stylesheet', href='/css/index.css')

block content
	#sidebar
		h3 Calm Genres:
			input(type='checkbox', name='genre', value='Acoustic')
			input(type='checkbox', name='genre', value='Classical')

		h3 Normal Genres:
			input(type='checkbox', name='genre', value='Alternative')
			input(type='checkbox', name='genre', value='Jazz')
			input(type='checkbox', name='genre', value='Rap')
			input(type='checkbox', name='genre', value='Rock')

		h3 Active Genres:
			input(type='checkbox', name='genre', value='Dubstep')
			input(type='checkbox', name='genre', value='EDM')
			input(type='checkbox', name='genre', value='Heavy rock')
			input(type='checkbox', name='genre', value='House')
			input(type='checkbox', name='genre', value='Metal')
	.container
		h1 Waver
		br
		h3 It looks like you're feeling ___
		//___ should be filled in with the mood