extends layout
block stylesheet
	link(rel='stylesheet', href='/css/index.css')

block content
	.container
		h1 Waver

		#col1
			h3 Calm Genres:
				input(type='checkbox', name='genre', value='Acoustic')
				input(type='checkbox', name='genre', value='Classical')
				input(type='checkbox', name='genre', value='')

			h3 Normal Genres:

			h3 Active Genres: