extends layout
block stylesheet
	link(rel='stylesheet', href='/css/login.css')

block content
	.container
		h1 Waver
		br
		form(name='input')
			a(href='')
				img(src='../static/img/facebook_button.jpg')