extends layout
block stylesheet
	link(rel='stylesheet', href='/css/login.css')

block content
	script
		window.fbAsyncInit = function() {
			FB.init({
				appId      : '1405183026445235',
				xfbml      : true,
				version    : 'v2.2',
				status		 : true
			});
			FB.getLoginStatus(function(response) {
				if (response.status === 'connected') {
					window.location.replace("https://aqueous-fortress-3332.herokuapp.com"); 
				}
			});
		};

		(function(d, s, id){
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) {return;}
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/sdk.js";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));


	.container
		h1 Waver
		br
		fb:login-button(scope="public_profile,email", onlogin="window.location.replace('https://aqueous-fortress-3332.herokuapp.com');")